<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>556969444547-a650q2ulseprqdv4gbe5g3566463snqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556969444547-a650q2ulseprqdv4gbe5g3566463snqb</string>
	<key>API_KEY</key>
	<string>AIzaSyAsuyex-lnpcwtnO1ud-Sxx5-g4wYRWQYk</string>
	<key>GCM_SENDER_ID</key>
	<string>556969444547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doc.DocuShare</string>
	<key>PROJECT_ID</key>
	<string>docushare-documents-on-the-go</string>
	<key>STORAGE_BUCKET</key>
	<string>docushare-documents-on-the-go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556969444547:ios:8f8c4971ff26039f</string>
	<key>DATABASE_URL</key>
	<string>https://docushare-documents-on-the-go.firebaseio.com</string>
</dict>
</plist>